/* Variables
  ************************************/
$primary-color: #008ef3

/* Global Typography
  ************************************/
h1
  color: white
  font-size: 60px
  line-height: 1.4
  margin-bottom: 0
  text-align: center

h2
  font-size: 50px
  line-height: 53px
  padding-bottom: .5em

h3
  font-size: 32px
  line-height: 36px

h4
  color: #242424
  font-size: 22px
  line-height: 26px

h5
  font-size: 60px
  line-height: 1.4

h6
  font-size: 60px
  line-height: 1.4


h1,h2,h3,h4,h5,h6
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif
  font-weight: 700

h2,h3,h5,h6
  color: $primary-color

/* Global Layout
  ************************************/
.section
  padding-top: 4rem
  padding-bottom: 6rem

/* Main Header
  ************************************/
#main-navigation
  background-color: $primary-color

/* Guide Page: Hero Section
  ************************************/
.section--hero
  background-color: $primary-color
  .hero-byline
    color: white
    font-size: 22px
    text-align: center